In [ ]:
# default_exp m5

In [ ]:
# hide
import sys

sys.path.append("..")
import pandas as pd

/home/tako/dev/env37/lib/python3.7/site-packages/pandas/compat/__init__.py:117: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)

In [ ]:
# hide
from nbdev.showdoc import *

# Data M5

> Getting the M5 data into a timerelevant dataloader.

In [ ]:
# export
from fastcore.all import *
from fastcore.imports import *
from fastai2.basics import *
from fastai2.data.transforms import *
from fastai2.tabular.core import *
from fastseq.data.all import *
from fastseq.core import *
from fastseq.data.all import *

In [ ]:
path = Path('../data/m5')
path.ls()

(#11) [Path('../data/m5/sales_train_validation.csv'),Path('../data/m5/M5-Competitors-Guide_Final-1.pdf'),Path('../data/m5/sample_submission.csv'),Path('../data/m5/Screenshot from 2020-03-04 13-24-55.png'),Path('../data/m5/calendar.csv'),Path('../data/m5/prices'),Path('../data/m5/rows'),Path('../data/m5/Screenshot from 2020-03-04 13-25-42.png'),Path('../data/m5/rows2'),Path('../data/m5/calender_d.csv')...]

In [ ]:
df_cal = pd.read_csv(path / 'calendar.csv')
df_cal.head()

,date,wm_yr_wk,weekday,wday,month,year,d,event_name_1,event_type_1,event_name_2,event_type_2,snap_CA,snap_TX,snap_WI
0,2011-01-29,11101,Saturday,1,1,2011,d_1,NaN,NaN,NaN,NaN,0,0,0
1,2011-01-30,11101,Sunday,2,1,2011,d_2,NaN,NaN,NaN,NaN,0,0,0
2,2011-01-31,11101,Monday,3,1,2011,d_3,NaN,NaN,NaN,NaN,0,0,0
3,2011-02-01,11101,Tuesday,4,2,2011,d_4,NaN,NaN,NaN,NaN,1,1,0
4,2011-02-02,11101,Wednesday,5,2,2011,d_5,NaN,NaN,NaN,NaN,1,0,1

In [ ]:
df_cal = df_cal[[c for c in list(df_cal.columns) if ('event' not in c)]]
df_cal.index = df_cal['d']
df_cal = df_cal.T
df_cal

d,d_1,d_2,d_3,d_4,d_5,d_6,d_7,d_8,d_9,d_10,...,d_1960,d_1961,d_1962,d_1963,d_1964,d_1965,d_1966,d_1967,d_1968,d_1969
date,2011-01-29,2011-01-30,2011-01-31,2011-02-01,2011-02-02,2011-02-03,2011-02-04,2011-02-05,2011-02-06,2011-02-07,...,2016-06-10,2016-06-11,2016-06-12,2016-06-13,2016-06-14,2016-06-15,2016-06-16,2016-06-17,2016-06-18,2016-06-19
wm_yr_wk,11101,11101,11101,11101,11101,11101,11101,11102,11102,11102,...,11619,11620,11620,11620,11620,11620,11620,11620,11621,11621
weekday,Saturday,Sunday,Monday,Tuesday,Wednesday,Thursday,Friday,Saturday,Sunday,Monday,...,Friday,Saturday,Sunday,Monday,Tuesday,Wednesday,Thursday,Friday,Saturday,Sunday
wday,1,2,3,4,5,6,7,1,2,3,...,7,1,2,3,4,5,6,7,1,2
month,1,1,1,2,2,2,2,2,2,2,...,6,6,6,6,6,6,6,6,6,6
year,2011,2011,2011,2011,2011,2011,2011,2011,2011,2011,...,2016,2016,2016,2016,2016,2016,2016,2016,2016,2016
d,d_1,d_2,d_3,d_4,d_5,d_6,d_7,d_8,d_9,d_10,...,d_1960,d_1961,d_1962,d_1963,d_1964,d_1965,d_1966,d_1967,d_1968,d_1969
snap_CA,0,0,0,1,1,1,1,1,1,1,...,1,0,0,0,0,0,0,0,0,0
snap_TX,0,0,0,1,0,1,0,1,1,1,...,0,1,1,1,0,1,0,0,0,0
snap_WI,0,0,0,0,1,1,0,1,1,0,...,0,1,1,0,1,1,0,0,0,0

In [ ]:
df_cal.T.to_csv(path / 'calender_d.csv')

## price data

In [ ]:
df_price = pd.read_csv(path / 'sell_prices.csv')
df_price.head()

  store_id        item_id  wm_yr_wk  sell_price
0     CA_1  HOBBIES_1_001     11325        9.58
1     CA_1  HOBBIES_1_001     11326        9.58
2     CA_1  HOBBIES_1_001     11327        8.26
3     CA_1  HOBBIES_1_001     11328        8.26
4     CA_1  HOBBIES_1_001     11329        8.26

In [ ]:
# export
def add_days(df_sales, days = 28*2, fill = -1):
    for i in range(days):
        df_sales['d_'+str(i+1914)] = fill
    return df_sales

In [ ]:
# export
@delegates(pd.Series.interpolate)
def interpolate_w_starting_nan(s, **kwargs):
    if s.iloc[0] != s.iloc[0]:
        for i,o in enumerate(s != s):
            if not o:
                s.iloc[0] = s.iloc[i]
                break
    return s.interpolate(**kwargs)

In [ ]:
s = pd.Series([np.nan,np.nan,np.nan, 0, 2, np.nan, 6])
s = interpolate_w_starting_nan(s)
test_eq((s!=s).sum(),0)
s = pd.Series([np.nan,np.nan,np.nan, 0, 1, np.nan, 3], index = ['d'+str(i) for i in range(7)])
s = interpolate_w_starting_nan(s)
test_eq((s!=s).sum(),0)
s

d0    0.0
d1    0.0
d2    0.0
d3    0.0
d4    1.0
d5    2.0
d6    3.0
dtype: float64

In [ ]:
df_cal = pd.read_csv(path / 'calender_d.csv')
df_cal.index = df_cal['d']
d2wk = dict(df_cal.T.loc['wm_yr_wk',:])
del df_cal
pd.Series(d2wk)

d_1       11101
d_2       11101
d_3       11101
d_4       11101
d_5       11101
          ...
d_1965    11620
d_1966    11620
d_1967    11620
d_1968    11621
d_1969    11621
Length: 1969, dtype: int64

In [ ]:
# export
def get_prices(df_price, store_id, item_id, method = 'linear'):    
    _df = df_price[df_price['store_id'] == store_id]
    _df = _df[_df['item_id'] == item_id]
    _df['wm_yr_wk'] = _df['wm_yr_wk'].astype(int)
    _df.index = _df['wm_yr_wk']
    p = dict(_df['sell_price'])
    wm_yr_wk = pd.Series({i:p[i] if i in p else np.nan for i in range(11100,11622)})
    wm_yr_wk = interpolate_w_starting_nan(wm_yr_wk, method = method)
    return wm_yr_wk

In [ ]:
p = get_prices(df_price, 'CA_1', 'HOBBIES_1_001')
p

NameError: name 'df_price' is not defined

In [ ]:
l = L()
for i in range(1,1970):
    l.append(p[d2wk['d_'+str(i)]])    
pd.Series(l)

0       9.58
1       9.58
2       9.58
3       9.58
4       9.58
        ...
1964    8.38
1965    8.38
1966    8.38
1967    8.38
1968    8.38
Length: 1969, dtype: float64

In [ ]:
# export
def _get_price_s(row, df_price):    
    p = get_prices(df_price, row['store_id'], row['item_id'])
    dct = {'store_id':row['store_id'],'item_id':row['item_id']}
#     for i in range(1,1970):
    dct.update({'d_'+str(i): p[d2wk['d_'+str(i)]] for i in range(1,1970)})
    return dct

In [ ]:
df_price = pd.read_csv(path / 'sell_prices.csv')

In [ ]:
# (path / 'prices').mkdir()
# for j, store_id in enumerate(set(df_price['store_id'])):
#     _df = df_price[df_price['store_id'] == store_id]
#     for i, item_id in enumerate(set(_df['item_id'])):
#         df_item = _df[_df['item_id'] == item_id]        
#         p = get_prices(df_item, store_id, item_id)
#         dct = {'store_id':store_id,'item_id':item_id}
#         for i in range(1,1970):
#             dct['d_'+str(i)] = p[d2wk['d_'+str(i)]]  
#         json.dump(dct, open(path / 'prices' / str(store_id+'_'+item_id +'.csv'),'w'))   
#         if i % 100 == 0:
#             print(f"{j}/10\t{i}/3049")

In [ ]:
# export
import csv
def csv_gen(file):
    with open(file, 'r') as f:
        reader = csv.reader(f)
        header = next(reader)
        for row in reader:
            yield {k:v for k,v in zip(header,row)}

In [ ]:
for o in csv_gen(path / 'calender_d.csv') :
    test_eq(type(o), dict)
    test_eq(o.keys(),{'d': 'd_1', 'date': '2011-01-29',
                     'wm_yr_wk': '11101', 'weekday': 'Saturday',
                     'wday': '1', 'month': '1', 'year': '2011',
                     'snap_CA': '0', 'snap_TX': '0', 'snap_WI': '0'}.keys())

In [ ]:
import os
if not os.path.isfile(path / 'prices.csv'):
    from multiprocessing.dummy import Pool as ThreadPool
    pool = ThreadPool(10)
    df_price = pd.read_csv(path / 'sell_prices.csv')
    prices = pool.map(_get_price_s,  (csv_gen(path / 'sales_train_validation.csv'),
                                      df_price))
    prices = pd.DataFrame(prices)
    prices.to_csv(path / 'prices.csv',index=False)
prices = pd.read_csv(path / 'prices.csv')
prices.head()

TypeError: _get_price_s() missing 1 required positional argument: 'df_price'

## M5

In [ ]:
df_cal = pd.read_csv(path / 'calender_d.csv')
df_cal.index = df_cal['d']
del df_cal['d']
df_cal

,date,wm_yr_wk,weekday,wday,month,year,d.1,snap_CA,snap_TX,snap_WI
d,,,,,,,,,,
d_1,2011-01-29,11101,Saturday,1,1,2011,d_1,0,0,0
d_2,2011-01-30,11101,Sunday,2,1,2011,d_2,0,0,0
d_3,2011-01-31,11101,Monday,3,1,2011,d_3,0,0,0
d_4,2011-02-01,11101,Tuesday,4,2,2011,d_4,1,1,0
d_5,2011-02-02,11101,Wednesday,5,2,2011,d_5,1,0,1
...,...,...,...,...,...,...,...,...,...,...
d_1965,2016-06-15,11620,Wednesday,5,6,2016,d_1965,0,1,1
d_1966,2016-06-16,11620,Thursday,6,6,2016,d_1966,0,0,0
d_1967,2016-06-17,11620,Friday,7,6,2016,d_1967,0,0,0
d_1968,2016-06-18,11621,Saturday,1,6,2016,d_1968,0,0,0
d_1969,2016-06-19,11621,Sunday,2,6,2016,d_1969,0,0,0

In [ ]:
# export
def _slice_series(dct, s_slice=None, add_zeros = 28*2):
    s_slice = ifnone(s_slice, slice(6,None))
    return [float(o) for k,o in dct.items() if ('d_' in k or 'F' in k)]+[0]*add_zeros
# @delegates(_to_series)
def to_contained_series(dct, series_column_name = 'sales', **kwargs):    
    data={k:v for k,v in dct.items() if ('d_' not in k and 'F' not in k)}
    data[series_column_name] = _slice_series(dct, **kwargs)
    return data

In [ ]:
import orjson
def _get_prices_dct(row):
    return orjson.loads(open(path / 'prices' / str(row['item_id']+'_'+row['store_id'] +'.json'),'r').read())

def _do_row(sales):
    s = to_contained_series(sales)
    for c in df_cal.columns:
        if c is not 'd.1':
            s[c] = list(df_cal[c])
    p = _get_prices_dct(s)
    f = p.pop('item_id') + '_'
    f += p.pop('store_id')
    s['prices'] = [o for k,o in p.items()] 
    return save_row(s, path / 'rows', fname= f)

In [ ]:
o = [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]
len(o), 28*2

(57, 56)

In [ ]:
for i, sales in enumerate(csv_gen(path / 'sales_train_validation.csv')):
    r = _do_row(sales)
    break
r

JSONDecodeError: Expecting ',' delimiter: line 20372 column 36 (char 706135)

In [ ]:
import time

In [ ]:
%%time
st = time.time()
for i, sales in enumerate(csv_gen(path / 'sales_train_validation.csv')):
    r = _do_row(sales)
    if i%100 == 0 and i != 0:  
        d = time.time()-st
        print(f"{i} / 30 000 ",np.round(d),np.round(((d/i)*30000)))

100 / 30 000  3.0 981.0
200 / 30 000  6.0 961.0
300 / 30 000  10.0 956.0
400 / 30 000  13.0 964.0
500 / 30 000  16.0 974.0
600 / 30 000  20.0 980.0
700 / 30 000  23.0 1000.0
800 / 30 000  27.0 1002.0
900 / 30 000  30.0 1003.0
1000 / 30 000  33.0 1004.0
1100 / 30 000  37.0 1015.0
1200 / 30 000  41.0 1016.0
1300 / 30 000  44.0 1021.0
1400 / 30 000  48.0 1025.0
1500 / 30 000  51.0 1028.0
1600 / 30 000  55.0 1031.0
1700 / 30 000  59.0 1036.0
1800 / 30 000  62.0 1039.0
1900 / 30 000  66.0 1043.0
2000 / 30 000  70.0 1048.0
2100 / 30 000  74.0 1053.0
2200 / 30 000  77.0 1056.0
2300 / 30 000  81.0 1060.0
2400 / 30 000  85.0 1064.0
2500 / 30 000  89.0 1070.0
2600 / 30 000  93.0 1077.0
2700 / 30 000  98.0 1084.0
2800 / 30 000  102.0 1093.0
2900 / 30 000  107.0 1103.0
3000 / 30 000  111.0 1111.0
3100 / 30 000  116.0 1120.0
3200 / 30 000  120.0 1126.0
3300 / 30 000  124.0 1131.0
3400 / 30 000  129.0 1136.0
3500 / 30 000  133.0 1142.0
3600 / 30 000  138.0 1147.0
3700 / 30 000  142.0 1153.0
3800 / 30 000  147.0 1158.0
3900 / 30 000  151.0 1163.0
4000 / 30 000  156.0 1169.0
4100 / 30 000  161.0 1175.0
4200 / 30 000  165.0 1181.0
4300 / 30 000  170.0 1185.0
4400 / 30 000  174.0 1189.0
4500 / 30 000  179.0 1195.0
4600 / 30 000  184.0 1199.0
4700 / 30 000  189.0 1203.0
4800 / 30 000  193.0 1207.0
4900 / 30 000  198.0 1211.0
5000 / 30 000  203.0 1215.0
5100 / 30 000  208.0 1221.0
5200 / 30 000  212.0 1224.0
5300 / 30 000  217.0 1228.0
5400 / 30 000  222.0 1233.0
5500 / 30 000  227.0 1237.0
5600 / 30 000  232.0 1241.0
5700 / 30 000  237.0 1247.0
5800 / 30 000  242.0 1252.0
5900 / 30 000  247.0 1256.0
6000 / 30 000  252.0 1262.0
6100 / 30 000  257.0 1266.0
6200 / 30 000  262.0 1270.0
6300 / 30 000  268.0 1274.0
6400 / 30 000  273.0 1278.0
6500 / 30 000  278.0 1282.0
6600 / 30 000  283.0 1286.0
6700 / 30 000  288.0 1291.0
6800 / 30 000  293.0 1294.0
6900 / 30 000  299.0 1298.0
7000 / 30 000  304.0 1303.0
7100 / 30 000  309.0 1307.0
7200 / 30 000  315.0 1311.0
7300 / 30 000  320.0 1316.0
7400 / 30 000  326.0 1320.0
7500 / 30 000  331.0 1324.0
7600 / 30 000  337.0 1329.0
7700 / 30 000  342.0 1333.0
7800 / 30 000  348.0 1338.0
7900 / 30 000  354.0 1342.0
8000 / 30 000  359.0 1348.0
8100 / 30 000  365.0 1353.0
8200 / 30 000  371.0 1358.0
8300 / 30 000  377.0 1364.0
8400 / 30 000  384.0 1370.0
8500 / 30 000  390.0 1375.0
8600 / 30 000  396.0 1381.0
8700 / 30 000  402.0 1386.0
8800 / 30 000  408.0 1392.0
8900 / 30 000  415.0 1397.0
9000 / 30 000  421.0 1403.0
9100 / 30 000  427.0 1408.0
9200 / 30 000  433.0 1413.0
9300 / 30 000  440.0 1418.0
9400 / 30 000  446.0 1422.0
9500 / 30 000  452.0 1427.0
9600 / 30 000  458.0 1431.0
9700 / 30 000  464.0 1435.0
9800 / 30 000  470.0 1439.0
9900 / 30 000  476.0 1443.0
10000 / 30 000  482.0 1447.0
10100 / 30 000  489.0 1451.0
10200 / 30 000  495.0 1455.0
10300 / 30 000  501.0 1460.0
10400 / 30 000  507.0 1464.0
10500 / 30 000  514.0 1468.0
10600 / 30 000  520.0 1472.0
10700 / 30 000  527.0 1477.0
10800 / 30 000  533.0 1481.0
10900 / 30 000  540.0 1485.0
11000 / 30 000  546.0 1489.0
11100 / 30 000  553.0 1493.0
11200 / 30 000  559.0 1498.0
11300 / 30 000  566.0 1502.0
11400 / 30 000  572.0 1506.0
11500 / 30 000  579.0 1511.0
11600 / 30 000  586.0 1516.0
11700 / 30 000  594.0 1522.0
11800 / 30 000  601.0 1528.0
11900 / 30 000  608.0 1534.0
12000 / 30 000  616.0 1539.0
12100 / 30 000  623.0 1544.0
12200 / 30 000  630.0 1550.0
12300 / 30 000  638.0 1555.0
12400 / 30 000  645.0 1560.0
12500 / 30 000  652.0 1566.0
12600 / 30 000  660.0 1571.0
12700 / 30 000  667.0 1576.0
12800 / 30 000  675.0 1581.0
12900 / 30 000  682.0 1587.0
13000 / 30 000  690.0 1592.0
13100 / 30 000  697.0 1597.0
13200 / 30 000  705.0 1602.0
13300 / 30 000  712.0 1607.0
13400 / 30 000  720.0 1612.0
13500 / 30 000  728.0 1617.0
13600 / 30 000  735.0 1622.0
13700 / 30 000  743.0 1627.0
13800 / 30 000  751.0 1632.0
13900 / 30 000  758.0 1636.0
14000 / 30 000  765.0 1639.0
14100 / 30 000  772.0 1643.0
14200 / 30 000  779.0 1646.0
14300 / 30 000  786.0 1650.0
14400 / 30 000  793.0 1653.0
14500 / 30 000  801.0 1657.0
14600 / 30 000  808.0 1660.0
14700 / 30 000  815.0 1664.0
14800 / 30 000  823.0 1669.0
14900 / 30 000  832.0 1674.0
15000 / 30 000  840.0 1680.0
15100 / 30 000  848.0 1685.0
15200 / 30 000  856.0 1690.0
15300 / 30 000  865.0 1696.0
15400 / 30 000  873.0 1701.0
15500 / 30 000  882.0 1707.0
15600 / 30 000  890.0 1712.0
15700 / 30 000  898.0 1716.0
15800 / 30 000  906.0 1720.0
15900 / 30 000  914.0 1724.0
16000 / 30 000  922.0 1728.0
16100 / 30 000  929.0 1732.0
16200 / 30 000  937.0 1735.0
16300 / 30 000  945.0 1739.0
16400 / 30 000  953.0 1743.0
16500 / 30 000  961.0 1747.0
16600 / 30 000  969.0 1751.0
16700 / 30 000  977.0 1755.0
16800 / 30 000  985.0 1759.0
16900 / 30 000  993.0 1762.0
17000 / 30 000  1001.0 1766.0
17100 / 30 000  1009.0 1770.0
17200 / 30 000  1017.0 1774.0
17300 / 30 000  1025.0 1778.0
17400 / 30 000  1033.0 1781.0
17500 / 30 000  1041.0 1785.0
17600 / 30 000  1050.0 1789.0
17700 / 30 000  1058.0 1793.0
17800 / 30 000  1066.0 1797.0
17900 / 30 000  1074.0 1801.0
18000 / 30 000  1083.0 1805.0
18100 / 30 000  1092.0 1809.0
18200 / 30 000  1101.0 1814.0
18300 / 30 000  1110.0 1819.0
18400 / 30 000  1119.0 1824.0
18500 / 30 000  1128.0 1829.0
18600 / 30 000  1137.0 1834.0
18700 / 30 000  1146.0 1839.0
18800 / 30 000  1155.0 1844.0
18900 / 30 000  1165.0 1849.0
19000 / 30 000  1174.0 1854.0
19100 / 30 000  1184.0 1860.0
19200 / 30 000  1193.0 1865.0
19300 / 30 000  1203.0 1870.0
19400 / 30 000  1212.0 1875.0
19500 / 30 000  1222.0 1880.0
19600 / 30 000  1232.0 1885.0
19700 / 30 000  1242.0 1891.0
19800 / 30 000  1251.0 1896.0
19900 / 30 000  1261.0 1901.0
20000 / 30 000  1271.0 1906.0
20100 / 30 000  1281.0 1912.0
20200 / 30 000  1291.0 1917.0
20300 / 30 000  1301.0 1922.0
20400 / 30 000  1310.0 1927.0
20500 / 30 000  1320.0 1932.0
20600 / 30 000  1330.0 1937.0
20700 / 30 000  1340.0 1942.0
20800 / 30 000  1350.0 1947.0
20900 / 30 000  1361.0 1953.0
21000 / 30 000  1371.0 1959.0
21100 / 30 000  1381.0 1964.0
21200 / 30 000  1392.0 1970.0
21300 / 30 000  1402.0 1975.0
21400 / 30 000  1413.0 1981.0
21500 / 30 000  1423.0 1986.0
21600 / 30 000  1434.0 1991.0
21700 / 30 000  1444.0 1997.0
21800 / 30 000  1455.0 2003.0
21900 / 30 000  1466.0 2008.0
22000 / 30 000  1477.0 2014.0
22100 / 30 000  1488.0 2020.0
22200 / 30 000  1499.0 2026.0
22300 / 30 000  1510.0 2031.0
22400 / 30 000  1521.0 2037.0
22500 / 30 000  1532.0 2043.0
22600 / 30 000  1543.0 2048.0
22700 / 30 000  1554.0 2054.0
22800 / 30 000  1565.0 2059.0
22900 / 30 000  1576.0 2065.0
23000 / 30 000  1588.0 2071.0
23100 / 30 000  1599.0 2077.0
23200 / 30 000  1611.0 2083.0
23300 / 30 000  1623.0 2089.0
23400 / 30 000  1634.0 2095.0
23500 / 30 000  1646.0 2101.0
23600 / 30 000  1658.0 2108.0
23700 / 30 000  1670.0 2113.0
23800 / 30 000  1681.0 2119.0
23900 / 30 000  1693.0 2125.0
24000 / 30 000  1704.0 2130.0
24100 / 30 000  1716.0 2136.0
24200 / 30 000  1728.0 2142.0
24300 / 30 000  1740.0 2148.0
24400 / 30 000  1752.0 2154.0
24500 / 30 000  1764.0 2160.0
24600 / 30 000  1777.0 2167.0
24700 / 30 000  1789.0 2173.0
24800 / 30 000  1801.0 2179.0
24900 / 30 000  1813.0 2185.0
25000 / 30 000  1826.0 2191.0
25100 / 30 000  1838.0 2197.0
25200 / 30 000  1850.0 2203.0
25300 / 30 000  1863.0 2209.0
25400 / 30 000  1875.0 2215.0
25500 / 30 000  1888.0 2221.0
25600 / 30 000  1900.0 2227.0
25700 / 30 000  1913.0 2233.0
25800 / 30 000  1926.0 2239.0
25900 / 30 000  1939.0 2245.0
26000 / 30 000  1951.0 2252.0
26100 / 30 000  1964.0 2258.0
26200 / 30 000  1977.0 2264.0
26300 / 30 000  1990.0 2270.0
26400 / 30 000  2003.0 2277.0
26500 / 30 000  2016.0 2283.0
26600 / 30 000  2029.0 2289.0
26700 / 30 000  2042.0 2295.0
26800 / 30 000  2055.0 2301.0
26900 / 30 000  2068.0 2307.0
27000 / 30 000  2081.0 2312.0
27100 / 30 000  2094.0 2318.0
27200 / 30 000  2107.0 2324.0
27300 / 30 000  2119.0 2329.0
27400 / 30 000  2132.0 2335.0
27500 / 30 000  2145.0 2340.0
27600 / 30 000  2158.0 2346.0
27700 / 30 000  2170.0 2351.0
27800 / 30 000  2183.0 2356.0
27900 / 30 000  2196.0 2362.0
28000 / 30 000  2209.0 2367.0
28100 / 30 000  2222.0 2373.0
28200 / 30 000  2236.0 2378.0
28300 / 30 000  2249.0 2384.0
28400 / 30 000  2262.0 2389.0
28500 / 30 000  2275.0 2395.0
28600 / 30 000  2288.0 2400.0
28700 / 30 000  2302.0 2406.0
28800 / 30 000  2315.0 2411.0
28900 / 30 000  2328.0 2417.0
29000 / 30 000  2341.0 2422.0
29100 / 30 000  2355.0 2427.0
29200 / 30 000  2368.0 2433.0
29300 / 30 000  2381.0 2438.0
29400 / 30 000  2395.0 2444.0
29500 / 30 000  2408.0 2449.0
29600 / 30 000  2422.0 2455.0
29700 / 30 000  2436.0 2460.0
29800 / 30 000  2449.0 2466.0
29900 / 30 000  2463.0 2471.0
30000 / 30 000  2477.0 2477.0
30100 / 30 000  2491.0 2483.0
30200 / 30 000  2505.0 2488.0
30300 / 30 000  2519.0 2494.0
30400 / 30 000  2533.0 2500.0
CPU times: user 41min 38s, sys: 41.3 s, total: 42min 19s
Wall time: 42min 25s

In [ ]:
def _copy(self, target):
    import shutil
    assert self.is_file()
    shutil.copy(str(self), str(target))  # str() only there for Python < (3, 6)

Path.copy = _copy

In [ ]:
for i, f in enumerate(Path('../data/m5/rows').glob('*.json')):
    ts = get_ts_datapoint(f)
    assert np.mean(ts['ts_con']['sales'][-(28*2):]) == 0.
    if i == 4000:
        break

In [ ]:
list(Path('../data/m5/rows').glob('*.json'))[0]

Path('../data/m5/rows/FOODS_2_155_WI_2.json')

In [ ]:
# f = list(Path('../data/m5/rows').glob('.ts_meta'))[0]
# f.copy(str(f).replace('m5','m5_tiny'))
n = 0

for f in Path('../data/m5/rows').glob('FOODS_2_1*_CA_3.json'):
    f.copy(str(f).replace('m5','m5_tiny'))
    n+=1    
for f in Path('../data/m5/rows').glob('FOODS_2_1*_TX_3.json'):
    f.copy(str(f).replace('m5','m5_tiny'))
    n+=1   
for f in Path('../data/m5/rows').glob('HOUSEHOLD_2_1*_WI_3.json'):
    f.copy(str(f).replace('m5','m5_tiny'))
    n+=1   
n

299

In [ ]:
# hide
from nbdev.export import *

notebook2script()

Converted 00_core.ipynb.
Converted 01_data.external.ipynb.
Converted 02_data.load.ipynb.
Converted 03_data.core.ipynb.
Converted 03_m5.ipynb.
Converted 050_nbeats.models_multi.ipynb.
Converted 05_nbeats.models.ipynb.
Converted 06_nbeats.callbacks.ipynb.
Converted 07_nbeats.learner.ipynb.
Converted 08_nbeats.interpret.ipynb.
Converted 11_metrics.ipynb.
Converted 12_compare.ipynb.
Converted index.ipynb.
Converted tab.model.ipynb.